/*=============================================
=            VARIABLES            =
=============================================*/

/*----------  Self-Hosted Font  ----------*/

/* exo-2-300 - latin */
@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 300;
	src: url('../font/exo-2-v20-latin-300.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../font/exo-2-v20-latin-300.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../font/exo-2-v20-latin-300.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../font/exo-2-v20-latin-300.woff') format('woff'),
		/* Modern Browsers */
		url('../font/exo-2-v20-latin-300.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../font/exo-2-v20-latin-300.svg#Exo2') format('svg');
	/* Legacy iOS */
}

/* exo-2-500 - latin */
@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	src: url('../font/exo-2-v20-latin-500.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../font/exo-2-v20-latin-500.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../font/exo-2-v20-latin-500.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../font/exo-2-v20-latin-500.woff') format('woff'),
		/* Modern Browsers */
		url('../font/exo-2-v20-latin-500.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../font/exo-2-v20-latin-500.svg#Exo2') format('svg');
	/* Legacy iOS */
}

/* exo-2-700 - latin */
@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	src: url('../font/exo-2-v20-latin-700.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../font/exo-2-v20-latin-700.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../font/exo-2-v20-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../font/exo-2-v20-latin-700.woff') format('woff'),
		/* Modern Browsers */
		url('../font/exo-2-v20-latin-700.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../font/exo-2-v20-latin-700.svg#Exo2') format('svg');
	/* Legacy iOS */
}

/* exo-2-900 - latin */
@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 900;
	src: url('../font/exo-2-v20-latin-900.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../font/exo-2-v20-latin-900.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../font/exo-2-v20-latin-900.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../font/exo-2-v20-latin-900.woff') format('woff'),
		/* Modern Browsers */
		url('../font/exo-2-v20-latin-900.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../font/exo-2-v20-latin-900.svg#Exo2') format('svg');
	/* Legacy iOS */
}

/* exo-2-300italic - latin */
@font-face {
	font-family: 'Exo 2';
	font-style: italic;
	font-weight: 300;
	src: url('../font/exo-2-v20-latin-300italic.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../font/exo-2-v20-latin-300italic.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../font/exo-2-v20-latin-300italic.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../font/exo-2-v20-latin-300italic.woff') format('woff'),
		/* Modern Browsers */
		url('../font/exo-2-v20-latin-300italic.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../font/exo-2-v20-latin-300italic.svg#Exo2') format('svg');
	/* Legacy iOS */
}

/* exo-2-500italic - latin */
@font-face {
	font-family: 'Exo 2';
	font-style: italic;
	font-weight: 500;
	src: url('../font/exo-2-v20-latin-500italic.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../font/exo-2-v20-latin-500italic.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../font/exo-2-v20-latin-500italic.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../font/exo-2-v20-latin-500italic.woff') format('woff'),
		/* Modern Browsers */
		url('../font/exo-2-v20-latin-500italic.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../font/exo-2-v20-latin-500italic.svg#Exo2') format('svg');
	/* Legacy iOS */
}

/*----------  Variables  ----------*/

:root {

	/*----------  Regular fonts  ----------*/

	--front-text: "Exo 2", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

	/*----------  Thickness  ----------*/
	--w-thin: 300;
	--w-reg: 500;
	--w-thick: 700;
	--w-thicc: 900;
}

/*=====  End of VARIABLES  ======*/
